.icon-container {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 25vw;
    

    .icon-div{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .link {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: rgb(56, 56, 56);
            opacity: 0.5;
      
            .icon {
              font-size: 4vw;
            }
      
            .icon-font {
              font-size: 1.2vw;
              font-weight: 700;
              font-style: italic;
              writing-mode: vertical-rl;
              text-orientation: upright;
            }
          }
    }
    
  }