@mixin pad {
  @media (max-width: 800px) {
    @content;
  }
}

.icon-container {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 45vh;
    
    

    .icon-div{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin: 0 2vw;

        .link {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: rgb(56, 56, 56);
            opacity: 0.5;
      
            .icon {
              font-size: 4vw;
            }
      
            .icon-font {
              font-size: 1.2vw;
              font-weight: 900;
              writing-mode:vertical-lr;
              text-orientation:upright;
              
              @include pad {
                font-size: 15px;
              }
            }
          }
    }
    
  }