@mixin mobile{
    @media(max-width:420px){
      @content;
    }
  }

.detail-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Work Sans", sans-serif;
    @include mobile{
        width: 100%;
    }

    .detail-img{
        width: 80%;
        height: auto;
        margin: 3vw 0;
    }

    .detail-text-container{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-bottom: 2vw;
        

        .text-title{
            width: 100%;
            font-size: 2vw;
            font-weight: 700;
            font-style: italic;
            color: rgb(88, 88, 88);
            @include mobile{
                font-size: 5vw;
            }
        }

        .text-content{
            width: 100%;
            align-items: flex-start;
            font-size: 1vw;
            line-height: 1.5vw;
            font-weight: 500;
            margin: 1vw 0;
            color: rgb(131, 130, 130);
            letter-spacing: 2px;

            .frontend-usage{
                width: 100%;
                margin-top: 1vw;
                display: flex;


                .frontend-title{
                    width: 12%;
                    color: rgb(88, 88, 88);
                    font-weight: 700;
                }

                .frontend-text{
                    width: 88%;
                   
                }
            }
        }

        .text-link-container{
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .close{
                font-size: 1.5vw;
                font-style: italic;
                font-weight: 700;
                text-decoration: none;
                color: rgb(88, 88, 88);
                transition: all 0.5s ease;
                margin: 1vw ;
                @include mobile{
                    font-size: 4vw;
                }
    
                &:hover{
                    color: black;
                    text-shadow: rgb(199, 199, 199) 2px 2px 2px;
                    
                }
            }
        }
        
    }
}