@mixin mobile {
  @media (max-width: 460px) {
    @content;
  }
}

@mixin pad {
  @media (max-width: 800px) {
    @content;
  }
}

.about-container {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Work Sans", sans-serif;
  overflow: hidden;
  position: relative;

  .about-header {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    overflow: hidden;

    .photo-container {
      width: 100%;
      z-index: 0;

      .yen {
        width: 100%;
        height: auto;
      }
    }

    .title-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      position: absolute;
      z-index: 1;

      .about-title {
        font-size: 20vw;
        font-style: italic;
        font-weight: 900;
        color: rgb(233, 233, 233);
        margin-top: -5vw;
        margin-left: -1vw;
      }

      .home-button-container {
        .home-button {
          color: white;
          opacity: 0.8;
        }
      }
    }
  }

  .icon-container {
    .icon-div {
      .link {
        .icon {
          color: white;
          opacity: 0.8;
        }

        .icon-font {
          color: white;
          opacity: 0.8;
          text-shadow: rgb(58, 58, 58) -1px 3px 1px;
        }
      }
    }
  }

  .introduce {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .introduce-top {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 80%;

      .yenPhoto {
        width: 15vw;
        height: auto;
        min-width: 120px;
        border-radius: 50%;
        margin: 5vw 0 2vw 0;
        @include pad {
          margin: 5vw 0 3vw 0;
        }
      }
      .name {
        width: 10vw;
        min-width: 100px;
      }

      .info-link {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0 40px 0;
        @include pad {
          margin: 3vw 0 3vw 0;
        }

        .info-link-a {
          width: 40px;
          height: 40px;
          border: none;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 3vw;
          color: rgb(175, 175, 175);
          margin-right: 10px;
          background: none;
          cursor: pointer;
          transition: all 0.5s ease;

          @include pad {
            font-size: 7vw;
            margin-right: 0;
          }

          &:hover {
            color: rgb(65, 65, 65);
          }
        }
      }

      .contact {
        position: absolute;
        bottom: -2%;
        span {
          font-size: 1.5rem;
          @include pad {
            font-size: 14px;
          }
        }
      }
    }

    .introduce-bottom {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 80%;
      @include pad {
        width: 95%;
      }

      .info {
        width: 100%;
        margin: 3vw 0 9vw 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .info-text {
          width: 50%;
          font-size: 18px;
          line-height: 1.75rem;
          font-weight: 700;
          @include mobile {
            font-size: 14px;
          }
        }
      }
    }
  }
}
