.toggle-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .toggle-title{
        font-size: 8vw;
        font-style: italic;
        font-weight: 900;
        color: gray;
        cursor: pointer;
    }
    .toggle-text-container{
        width: 100%;
        height: 300px;

        .toggle-text{
            width: 100%;
            height: 100%;
            font-size: 4vw;
            font-style: italic;
            font-weight: 500;
            color: #c4c4c4;
        }
    }
}